@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Caduceus</h1>
    <p class="lead">Your private email server.</p>
    <hr class="my-4">
    <p>Access your inbox to manage your emails.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Mail" asp-action="Index" role="button">Go to Mailbox</a>
</div>
